<html>
    <head>
        <title>Ana's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ana's Blog</a></h1>
        </div>

        <div>
            <p>published: 10.2020, 18:50</p>
            <h2><a href="">My first post</a></h2>
            <p> This is my first experience using Django. It rocks!</p>
        </div>

        <div>
            <p>published: 10.2020, 18:52</p>
            <h2><a href="">My second post</a></h2>
            <p>I'm super exited to keep learning new things with Django</p>
        </div>
    </body>
</html>
